.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.img {
    width: 100px;
}

.titulo {
    font-weight: lighter;
}

.span {
    font-weight: bold;
}