.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.input, .input2 {
    width: 550px;
    height: 30px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 2px solid rgb(179, 168, 168);
}

.button {
    width: 80px;
    height: 30px;
    margin-left: 250px;
    margin-top: 10px;
    font-size: medium;
    border-radius: 5px;
    background-color:  rgb(148, 32, 32);
    color: rgb(226, 226, 156);
} 